.lexend-giga-text {
    font-family: "Lexend Giga", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;

}

.Apptitle {
    margin-left: 1%;
    color: #011627;
    text-decoration: underline #FF9F1C;
}

.displayHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
}

.input-group {
    width: 25%;
}

input {
    border-radius: 15px;
    background-color: #D9D9D9;
    width: 100%;
    height: 30px;
    border: none;
    padding-left: 40px;
}

form {
    position: relative;
    width: 80%;
    margin: 20px;
}

form label img {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
    /* Para que no interfiera al hacer clic */
}

.buttons>button {
    background-color: #FF9F1C;
    color: white;
    border: none;
    margin: 5px;
    padding: 10px;
    border-radius: 15px;
    width: 9vw;
}

.pageInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-right: 2%;
}

.pageInfo>button {
    border: none;
    background-color: transparent;
}

.dropdown-btn {
    height: 50px;
    width: 50px;
}

/*Estilo para el dropdown*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    /* << Cambiado de 'left' por defecto a 'right' */
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

.dropdown-content-opened a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content-opened a:hover {
    background-color: #f1f1f1;
}

.dropdown-content-opened {
    display: block;
    position: absolute;
    right: 0;
    /* << Cambiado de 'left' por defecto a 'right' */
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
}

@media (max-width: 1444px) {
    .displayHeader {
        width: 100vw;
    }
    
}

@media (max-width: 1000px) {
    .dropdown-btn {
        height: 30px;
        width: 30px;
    }

}

@media (max-width: 500px) {
    
    .displayHeader {
        align-items: center;
        justify-content: center;
        gap: 1%;
    }

    .lexend-giga-text {
        font-size: 24px;

    }

    .dropdowns {
        font-size: 12px;
    }
}