<header class="displayHeader">
    <div class="Apptitle">
        <h1 class="lexend-giga-text">TaskTogether</h1>
    </div>
    <div class="dropdowns" *ngIf="!isOnRoute('/')">
        Area de trabajo
        Proyectos Recientes
    </div>
    <div class="pageInfo" *ngIf="isOnRoute('/')">
        <button>Funciones</button>
        <button>Soluciones</button>
        <button>TaskTogether Fundation</button>
        
    </div>
    <div class="input-group" *ngIf="!isOnRoute('/')">
        <form>
            <label for="findProject">
                <img src="images/search.svg" alt="Lupa de búsqueda">
            </label>
            <input type="text" name="findProject" id="findProject" placeholder="Introduzca un nombre de proyecto">
        </form>        
    </div>
    <div class="buttons">
        <button [routerLink]="['/login']" routerLinkActive="router-link-active" >Inicia Sesión</button>
        <button [routerLink]="['/register']" routerLinkActive="router-link-active">Registrate</button>
    </div>
</header>


