<div class="task">
    <div class="type" [ngClass]="{
        'priority-high': task.priority === 2, 
        'priority-mid': task.priority === 1, 
        'priority-low': task.priority === 0
        }"></div>
    <div class="info">
        <p>{{task.name}}</p>
        <small>{{task.limitDate}}</small>
        <button class="submitbutton" *ngIf="task.status !== 2 && !isMember()" (click)="assignATask(login.user().id, task.id)">Unirse a Tarea</button>
        <button class="submitbutton">Ver Tarea</button>
        <button class="modalbutton" (click)="commentTask()"  mat-raised-button matTooltip="Comentar tarea" 
            matTooltipPosition="above" 
            matTooltipShowDelay="250" 
            matTooltipHideDelay="500">
            <svg class="svg" xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 -960 960 960" width="25px" fill="#FFF"><path d="M240-400h480v-80H240v80Zm0-120h480v-80H240v80Zm0-120h480v-80H240v80ZM880-80 720-240H160q-33 0-56.5-23.5T80-320v-480q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v720ZM160-320h594l46 45v-525H160v480Zm0 0v-480 480Z"/></svg>
        </button>
    </div>
</div>