<div class="modal">
    <div class="taskBox">
        <header class="inter-title formBoxHeader">
            <h1>Asignar tarea</h1>
        </header>
        <form method="post" class="taskForm" [formGroup]="assignTaskForm" (ngSubmit)="submit()">



            <div class="field inter-labelText">
                <label for="task">Tarea:</label>
               <select name="task" id="task">
                <option *ngFor="let t of taskService.activeTasks()" [value]="t.id">{{t.name}}</option>
               </select>
                <!-- <small *ngIf="isInValid('name')">Introduzca un nombre de entre 3 y 140 caracteres</small> -->

            </div>

            <div class="field inter-labelText">
                <label for="fechalimite">Miembro:</label>
               <select name="member" id="member">
                <option *ngFor="let m of memberService.members()" [value]="m.id">{{m.name}}</option>
               </select>
                <!-- <small *ngIf="isInValid('limitDate')">La fecha introducida no puede ser anterior a la fecha actual</small> -->
            </div>

            <div class="field centered">
                <button class="submitbutton" type="submit">Crear tarea</button>
            </div>


        </form>
    </div>
</div>