<aside class="navbar inter-navbar">
    <div [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >
        <img src="assets/homebasic.svg" alt="icono de casita de inicio" width="50" height="50">
        <a>Inicio</a>
    </div>
    <div>
        <img src="assets/folder.svg" alt="carpeta de proyectos" width="50" height="50">
        <a>Mis Proyectos</a>
    </div>
    <div>
        <img src="assets/clipboard.svg" alt="portapapeles" width="50" height="50">
        <a>Tareas</a>
    </div>
    <div>
        <img src="assets/clipboard.svg" alt="portapapeles" width="50" height="50">
        <a>Nuevo Proyecto</a>
    </div>
    <div>
        <img src="assets/clipboard.svg" alt="portapapeles" width="50" height="50">
        <a>Añadir Colaborador</a>
    </div>
    <div>
        <img src="assets/clipboard.svg" alt="portapapeles" width="50" height="50">
        <a>Configuración</a>
    </div>
</aside>
