<div class="registerBox">
    <header class="inter-title formBoxHeader">
        <h1>Editar Perfil</h1>
    </header>
    <form method="post" class="editProfileForm">
        <div class="image inter-labelText">
            <div style="height: 200px; width: 200px; border-radius: 100%; background-color: aquamarine;"></div>
            <label for="pfp">Foto de perfil</label>
            <input type="file" name="pfp" id="pfp">
        </div>

        <div class="topRight">
            <div class="inter-labelText">
                <label for="name">Nombre: <small>*</small> </label>
                <input type="text" name="name" id="name" formControlName="name">
                <!-- <small *ngIf="isValid('name')">
                    Este campo es requerido
                </small> -->
            </div>

        </div>

        <div class="bottom">

            <div class="field inter-labelText">
                <label>Contraseña: </label>
                <input type="password" name="password" formControlName="password">
                <!-- <small *ngIf="isValid('password')">
                    La contraseña debe tener al menos 8 caracteres, incluyendo una mayúscula, una minúscula, un número y un símbolo.
                </small> -->
            </div>
            <div class="field inter-labelText">
                <label>Confirmar contraseña: </label>
                <input type="password" name="confirmPassword" formControlName="confirmPassword">
                <!-- <small *ngIf="isValid('confirmPassword') && validPasswords()">
                    La contraseña debe tener al menos 8 caracteres, incluyendo una mayúscula, una minúscula, un número y un símbolo.
                </small>
                <small *ngIf="isValid('confirmPassword') && !validPasswords()">
                    La contraseñas no coinciden
                </small> -->
            </div>
            <div class="field inter-labelText">
                <label>Dirección: </label>
                <input type="text" name="address" formControlName="address">
            </div>
            <div class="field inter-labelText">
                <label>Trabajo que desempeña: </label>
                <input type="text" name="job" formControlName="job">
            </div>
    
            <div class="centered">
                <button type="submit" class="submitbutton inter-labelText" (click)="submit()">Confirmar Cambios</button>
                <!-- <b class="inter-small">¿Tienes una cuenta? <a class="inter-small-bold-link" [routerLink]="['/login']" routerLinkActive="router-link-active">Inicia Sesión</a></b> -->
    
            </div>
        </div>

    </form>
    
</div>
