<div [ngClass]="{'content' : !routerService.isOnRoute('/register') && !routerService.isOnRoute('/login') && !routerService.isOnRoute('/'), 
'index': isOnIndex()}">
  <header *ngIf="isOnRoute('/') || !routerService.isJustAForm()">
    <app-header></app-header> <!---->
  </header>
  <!--Lógica de los cambios en el grid simplificada-->
  <main [ngClass]="{'justAForm': routerService.isJustAForm()}">
    <app-breadcrum *ngIf="!routerService.isOnRoute('/') && !routerService.isJustAForm() && !routerService.isOnRoute('/dashboard')"></app-breadcrum>
    <router-outlet></router-outlet>
  </main>
  <aside *ngIf="!routerService.isOnRoute('/') && !routerService.isJustAForm()" class="inter-navbar">
    <app-navbar></app-navbar>
  </aside>
</div>


