<div [ngClass]="{'content' : !routerService.isOnRoute('/register') && !routerService.isOnRoute('/login') && !routerService.isOnRoute('/'), 'index': isOnIndex()}">
  <header *ngIf="isOnRoute('/') || (!isOnRoute('/register') && !isOnRoute('/login'))">
    <app-header></app-header> <!---->
  </header>
  <aside *ngIf="!routerService.isOnRoute('/') && !routerService.isOnRoute('/register') && !routerService.isOnRoute('/login')" class="inter-navbar">
    <app-navbar></app-navbar>
  </aside>
  <main [ngClass]="{'justAForm': routerService.isOnRoute('/register') || routerService.isOnRoute('/login'), 'justAnIndex': isOnIndex()}">
    <app-breadcrum></app-breadcrum>
    <router-outlet></router-outlet>
  </main>
</div>


