<div class="usersTable">

    <div class="manageInfo">

      <div class="filter">
        <label for="filterForm">Filtrar por:</label>
        <select name="filterForm" id="filterForm" [(ngModel)]="filter">
            <option value="">Sin filtro</option>
            <option value="GEN_ADMIN">Administradores</option>
            <option value="USER">Usuarios regulares</option>
        </select>
      </div>

      <div class="order">
        <label for="orderForm">Ordenar por:</label>
        <select name="orderForm" id="orderForm" [(ngModel)]="order">
            <option value="">Orden por defecto</option>
            <option value="name_asc">Nombre Ascendente</option>
            <option value="name_desc">Nombre Descendente</option>
            <option value="mail_asc">Correo electrónico Ascendente</option>
            <option value="mail_desc">Correo electrónico Descendente</option>
        </select>
      </div>



    </div>

    <table>
        <thead>
            <tr class="header">
                <th>Nombre</th>
                <th>Correo electrónico</th>
                <th>Dirección</th>
                <th>Trabajo</th>
                <th>Rol</th>
            </tr>
        </thead>
        <tbody *ngIf="admin.isLoading()">
            <tr>
              <td colspan="5">
                <div class="loader">
                  <span class="loader-text">Cargando...</span>
                  <span class="load"></span>
                </div>
              </td>
            </tr>
        </tbody>
          
          <tbody *ngIf="!admin.isLoading()">
            <tr class="tableBody" *ngFor="let user of admin.filteredData(filter, order)">
              <td>{{user.name}}</td>
              <td>{{user.email}}</td>
              <td>{{formatNulls(user.address)}}</td>
              <td>{{formatNulls(user.job)}}</td>
              <td>
                <form (ngSubmit)="changeRole(user.role, user.id.valueOf())">
                  <input type="number" hidden [value]="user.id">
                  <select [(ngModel)]="user.role" name="role--{{user.id}}">
                    <option [ngValue]="'GEN_ADMIN'">Administrador</option>
                    <option [ngValue]="'USER'">Usuario</option>
                  </select>
                  <button class="button" type="submit">Confirmar cambios</button>
                </form>
              </td>
            </tr>
          </tbody>
          
    </table>

</div>
  