<div>
    <h1>Historial</h1>
    <div>
        <p>Este es un diálogo de Angular Material.</p>
        <table class="box">
            <thead>
                <tr>
                    <th colspan="2">Usuario</th>
                    <th>Cambio realizado</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let r of projects.records()">
                    <td>
                        @if (r.profile_pic != null) {
                            <img src="{{r.profile_pic}}" alt="imagen del usuario" width="40" height="40" style="border-radius: 100%;">
                        }
                    </td>
                    <td>{{r.name}}</td>
                    <td>{{r.changeDescription}}</td>
                    <td>{{r.changeDate}}</td>
                </tr>
            </tbody>
        </table>
        <!-- <ul>
            <li *ngFor="let r of projects.records()">, , </li>
        </ul> -->
    </div>
    <div>
        <button mat-button mat-dialog-close>Cerrar</button>
    </div>

</div>