.home {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.blackboard {
    width: 1015px;
    height: 535px;
    background-color: white;
    border-radius: 4px;
    border: solid #5a5a5a 10px;
    display: flex;
    flex-direction: column;
}

.buttons {
    width: 100px;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    gap: 5px;

}

/* font-family: "Inter", sans-serif;
font-optical-sizing: auto;
font-weight: 0;
font-size: 24px;
font-style: normal; */
.info,
.members {
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info {
    flex-direction: row;
}

.magnet {
    width: 30px;
    height: 30px;
    /* background-color: red; */
    border-radius: 50%;
    /* border: 2px solid black; */
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 5px 4px 10px rgba(0, 0, 0, 0.25);
    /*Los datos son: posición en x, posición en y (eje invertido), difumidado, color en formato rgba donde a es la opacidad*/
}

.magnet-blue {
    background-color: var(--blue);
}

.magnet-yellow {
    background-color: var(--yellow);
}

.magnet-green {
    background-color: var(--green);
}

.magnet-marine {
    background-color: var(--darkblue);
}


.posit {
    width: 170px;
    height: 100px;
    background-color: #F6F353;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    text-align: center;
    /* Deja espacio para el imán */

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 5px 4px 10px rgba(0, 0, 0, 0.25);
}