<div class="home">
    <div class="blackboard">
        <div class="info">
            <div class="card1">
                <div class="posit">
                    <div class="magnet"></div>
                    <h3>Por hacer</h3>
                </div>
            </div>
            <div class="card2">
                <div class="posit">
                    <div class="magnet"></div>
                    <h3>En progreso</h3>
                </div>
            </div>
            <div class="card3">
                <div class="posit">
                    <div class="magnet"></div>
                    <h3>Finalizadas</h3>
                </div>
            </div>
        </div>
        <div class="members">
            <div class="posit">
                <div class="magnet"></div>
                <h3>Miembros del equipo</h3>
            </div>
        </div>
    </div>
    <div class="buttons">
        <button mat-button  (click)="openHistorial()">Historial</button>
        <button>Miembros</button>
    </div>
</div>
{{projectName}}
{{unFormatName(projectName)}}