<div class="blackboard">
    <div class="info">
        <div class="card1">
            <div class="posit">
                <div class="magnet"></div>
                <h3>Por hacer</h3>
            </div>
        </div>
        <div class="card2">
            <div class="posit">
                <div class="magnet"></div>
                <h1>En progreso</h1>
            </div>
        </div>
        <div class="card3">
            <div class="posit">
                <div class="magnet"></div>
                <h1>Finalizadas</h1>
            </div>
        </div>
    </div>
    <div class="members">
        <div class="posit">
            <div class="magnet">
                <h1>Miembros del equipo</h1>
            </div>
        </div>
    </div>
</div>