<div class="profileBox">
    <div class="profile">
        <div class="profileHeader">
            <!-- <div class="profileImg" style="height: 200px; width: 200px; border-radius: 100%; background-color: aquamarine;"></div> -->
            <div class="profileImg">
                <img src="https://res.cloudinary.com/dv5lyqil9/image/upload/v1746122440/porsche_911_aqtei9.jpg" alt=""
                style="height: 200px; width: 200px; border-radius: 100%;">
            </div>
            <h3>{{loginService.user().name}}</h3>
            <span>{{loginService.user().email}}</span> | <span>{{loginService.user().job}}</span>
            <br>
        </div>
    </div>
    <div>
        <app-edit-profile></app-edit-profile>
    </div>
</div>
