:root {
    --darkblue: #011627;
    --blue: #247BA0;
    --green: #369633;
    --white: #FDFFFC;
    --yellow: #FF9F1C;
    --background: #dcd9db;
}

/* Tipografía Inter */
.inter-navbar {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20;
    font-size: 20px;
    font-style: normal;
}

.svg {
    display: block;
    height: 50px;
    width: 50px;
    fill: var(--color-default-white);
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
    flex-direction: column;
    transition: background-color 0.3s ease;
}

/* Estilo para el item seleccionado */
div.selected {
    background-color: #034880;
}

/* Hover solo si NO está seleccionado */
div:hover:not(.selected) {
    background-color: #022542;
}

/* Enlaces blancos */
a {
    color: var(--white);
    text-decoration: none;
}

/* Puntero al pasar por encima */
.links>div:hover {
    cursor: pointer;
}

/* Imagen sin margen extra */
img {
    display: block;
}

/* Adaptación a móviles */
@media (max-width: 1170px) {

    .inter-navbar {
        font-size: 15px;
    }

    .navbar {
        height: 100px;
        width: 100vw;
        flex-direction: row;
    }

    .navbar>div {
        width: 100%;
        height: auto;
    }

    .navbar>div.selected {
        background-color: #034880;
        padding: 14px;
    }

    .navbar>div:hover:not(.selected) {
        background-color: #022542;
        /* padding: 14px; */
    }
}

@media (max-width: 500px) {
    .navbar {
        background-color: var(--color-default-white);

    }


    .svg {
        height: 40px;
        width: 40px;
        fill: var(--color-navbar-bg);
    }

    .inter-navbar a {
        display: none;
    }

    .navbar>div.selected {
        border-radius: 100%;
    }

    .navbar .selected .svg {
        fill: var(--color-default-white);
    }
}