<div class="NewProjectBox">
    <header class="inter-title formBoxHeader">
        <h1>Crear Proyecto</h1>
    </header>
    <form method="post" class="NewProjectForm" [formGroup]="project" (submit)="submit()">

        <div class="upTeam">
            <div class="field inter-labelText">
                <label for="name">Nombre Proyecto:</label>
                <input type="text" formControlName="name">
                <small *ngIf="isInvalidField('name')">Introduzca un nombre de entre 3 y 50 caracteres</small>

            </div>

            <div class="field inter-labelText">
                <label for="password">Fecha Inicio:</label>
                <input type="date" formControlName="start_date">
                <small *ngIf="isInvalidField('start_date')">Introduzca una fecha igual o posterior al día de hoy</small>
                <!-- <small *ngIf="project.get('fecha')?.errors?.['notBeforeToday']">
                    La fecha no puede ser anterior a hoy.
                </small> -->
                <small *ngIf="project.errors?.['fechaInvalida'] && project.touched">{{
                    project.errors?.['fechaInvalida']}}</small>
            </div>

        </div>

        <div class="downTeam">
            <div class="field inter-labelText">
                <label for="password">Descripción:</label>
                <textarea name="" id="" formControlName="description"></textarea>
                <small *ngIf="isInvalidField('description')">Introduzca una breve descripción de entre 20 y 300
                    caracteres</small>
            </div>

            <div class="field inter-labelText">
                <label for="password">Fecha Fin:</label>
                <input type="date" formControlName="end_date">
                <small *ngIf="isInvalidField('end_date')">Elija una fecha válida</small>
            </div>

        </div>
        <!--Le digo el nombre del FormArray para que no se confunda-->
        <div formArrayName="members">
            <!--recorro los controladores de mi formArray-->
            @for (member of members.controls; track $index) {
                <!--Como son objetos estos son FormGroups por lo que los tengo que identificar-->
            <div [formGroupName]="$index">
                <!--Y ya puedo estar normal-->
                <input class="membername" formControlName="name">
                <button class="memberButton" type="button" (click)="deleteMember($index)">Eliminar</button>
            </div>
            }
        </div>

        <app-search-user (userSelected)="addMember2($event)"></app-search-user>

        <div class="field centered">
            <button class="submitbutton" type="submit">Crear proyecto</button>
            <img class="img" src="images/Logo TaskTogether.png" alt="imagen del logo circular de TaskTogether">

        </div>


    </form>
</div>