<div class="projectsTable">
    <div class="manageInfo"></div>

    <table>
        <thead>
            <tr class="header">
                <th colspan="2">Nombre</th>
                <th>Descripción</th>
                <th>Fecha de inicio</th>
                <th>Fecha de fin</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr class="tableBody" *ngFor="let prj of project.userProjects().content">
                <td>IMG</td>
                <td>{{prj.name}}</td>
                <td>{{prj.description}}</td>
                <td>{{prj.start_date}}</td>
                <td>{{prj.end_date}}</td>
                <td>
                    <button>Editar Proyecto</button>
                    <button (click)="finish(prj.id)">Finalizar Proyecto</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
