<div class="projectsTable">
    <div class="manageInfo"></div>

    <table>
        <thead>
            <tr class="header">
                <th colspan="2">Nombre</th>
                <th>Fecha de inicio</th>
                <th>Fecha de fin</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody *ngIf="project.loading()">
            <tr class="tableBody">
              <td colspan="5">
                <div class="loader">
                  <span class="loader-text">Cargando...</span>
                  <span class="load"></span>
                </div>
              </td>
            </tr>
        </tbody>

        <tbody *ngIf="!project.loading()">
            <tr class="tableBody" *ngFor="let prj of project.userProjects().content">
                <td>IMG</td>
                <td [routerLink]="[`/projects/projectView`]" [queryParams]="{'projectId': prj.id}">{{prj.name}}</td>
                <td>{{prj.start_date}}</td>
                <td>{{prj.end_date}}</td>
                <td>
                    <button *ngIf="prj.status !== 1" class="button">Editar Proyecto</button>
                    <button *ngIf="prj.owner && prj.status !== 1" class="button" (click)="finish(prj.id)">Finalizar Proyecto</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="pagination">
        <button (click)="changePage(1)"><<</button>
        <button (click)="changePage(pageNumber - 1)"> < </button>
        <button [ngClass]="{'actualPage': pageNumber === pg}" *ngFor="let pg of project.userProjects().totalPages | range" (click)="changePage(pg)">
            {{ pg }}
        </button>
        <button (click)="changePage(pageNumber + 1)"> > </button>
        <button (click)="changePage(project.userProjects().totalPages)"> >> </button>

    </div>
</div>