<div class="dashboard">
    <div class="stats">

        <!-- <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front active-projects-border">
                    <p class="title active-projects">Proyectos Activos</p>
                    <p class="giant">{{dashboard.stats().activeProjectsNumber}}</p>
                </div>
                <div class="flip-card-back active-projects-back active-projects-border">
                    <p class="title">Resumen</p>
                    <ul>
                        <li *ngFor="let prj of dashboard.stats().recentProyects">
                            {{prj.name}}
                        </li>
                    </ul>
                </div>
            </div>
        </div> -->

        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front active-projects-border">
                    <p class="title active-projects">Proyectos Activos</p>
                    <p class="giant">{{dashboard.stats().activeProjectsNumber}}</p>
                </div>
                <div class="flip-card-back active-projects-back active-projects-border">
                    <p class="title">Resumen</p>
                    <ul>
                        <li *ngFor="let prj of dashboard.stats().recentProyects">
                            {{prj.name}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front active-tasks-border">
                    <p class="title active-tasks">Tareas Activas</p>
                    <p class="giant">{{dashboard.stats().progressTasksNumber}}</p>
                </div>
                <div class="flip-card-back active-tasks-border active-tasks-back">
                    <p class="title">Resumen</p>
                    <ul>
                        <li *ngFor="let tsk of dashboard.stats().progressTasks">
                            {{tsk.name}} | {{tsk.limitDate}} | {{tsk.priority}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front pending-tasks-border">
                    <p class="title pending-tasks">Tareas a expirar</p>
                    <p class="giant">{{dashboard.stats().toExpireTasksNumber}}</p>
                </div>
                <div class="flip-card-back pending-tasks-back pending-tasks-border">
                    <p class="title">Resumen</p>
                    <li *ngFor="let tsk of dashboard.stats().toExpireTasks">
                            {{tsk.name}} | {{tsk.limitDate}} | {{tsk.priority}}
                        </li>
                </div>
            </div>
        </div>
    </div>
    <div class="recent">
        Actividad Reciente
        <!-- From Uiverse.io by joe-watson-sbf -->
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <p class="title">Proyectos Activos</p>
                    <p>Hover Me</p>
                </div>
                <div class="flip-card-back">
                    <p class="title">BACK</p>
                    <p>Leave Me</p>
                </div>
            </div>
        </div>
    </div>


</div>