<div class="newmemberBox">
    <header class="inter-title formBoxHeader">
        <h1>Añadir miembros a proyecto</h1>
    </header>
    <form method="post" class="newmemberForm" [formGroup]="newmemberForm">
        <div class="field inter-labelText">
            <label for="projects">Seleccione un proyecto</label>
            <select name="projects" id="projects">
                <option value="0">Seleccione un proyecto</option>
                <option *ngFor="let prj of service.projects()" [value]="prj.id">{{ prj.name }}</option>
            </select>
            <!-- <small *ngIf="isInvalidField('email')">Introduzca un email válido</small> -->

        </div>

        <app-search-user (userSelected)="addMember2($event)"></app-search-user>
        <div class="field inter-labelText">
            <label for="password">Miembros:</label>
            <div formArrayName="members" class="memberList">
                @for (member of members.controls; track $index) {
                <div [formGroupName]="$index" class="memberItem">
                    <input class="membername" formControlName="name" placeholder="Nombre del miembro">
                    <button class="memberButton" type="button" (click)="deleteMember($index)">Eliminar</button>
                </div>
                }
            </div>

        </div>

        <div class="field centered">
            <button class="submitbutton" type="submit">Añadir miembro/s</button>
            <!-- <b class="inter-small">¿No tienes una cuenta? <a class="inter-small-bold-link" [routerLink]="['/register']" routerLinkActive="router-link-active">Regístrate</a></b> -->
            <img class="img" src="images/Logo TaskTogether.png" alt="imagen del logo circular de TaskTogether">

        </div>


    </form>
</div>