@import "tailwindcss";


@theme {

    /*Font*/
    --font-lexend: 'Lexend Giga', sans-serif;

    /*Navbar palette*/
    --color-navbar-bg: #011627;
    --color-darkblue-hover: #022542;

    /*Main Palette*/
    --color-default-blue: #247BA0;
    --color-default-green: #379634;
    --color-default-white: #FDFFFC;
    --color-default-yellow: #FF9F1C;
    
    --color-page-background: #DCD9D9;

    /*Dark Palette*/
    --color-default-darkblue: #1c5e7a;
    --color-default-darkgreen: #2b7028;
    --color-default-darkyellow: #c47d19;
}

/* Temporal, hasta que modifique todo a las clases de Tailwind */
:root {
    --darkblue: #011627;
    --blue: #247BA0;
    --green: #379634;
    --white: #FDFFFC;
    --yellow: #FF9F1C;
    --background: #dcd9db;
    --darkBlue: #1c5e7a;
    --darkGreen: #2b7028;
    --darkYellow: #c47d19;
    --darkbluehover: #022542;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body { 
    height: 100vh;
    width: 100vw;
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #dcd9db;
}

.formBoxHeader {
    display: flex;
    background-color: #011627;
    color: white;
    height: 78px;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

aside {
    background-color: #011627;
}


/* styles.css (global, no en component.css) */
.custom-dialog-container .mat-dialog-container {
  padding: 0 !important;
  background: none;
  box-shadow: none;
}

/*Clase de los modales del proyecto*/
.modal {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}


