/* You can add global styles to this file, and also import other style files */
:root {
    --darkblue: #011627;
    --blue: #247BA0;
    --green: #379634;
    --white: #FDFFFC;
    --yellow: #FF9F1C;
    --background: #dcd9db;
    --darkBlue: #1c5e7a;
    --darkGreen: #2b7028;
    --darkYellow: #c47d19;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #dcd9db;

}

.formBoxHeader {
    display: flex;
    background-color: #011627;
    color: white;
    height: 78px;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

aside {
    background-color: #011627;
}


/* styles.css (global, no en component.css) */
.custom-dialog-container .mat-dialog-container {
  padding: 0 !important;
  background: none;
  box-shadow: none;
}

/*Clase de los modales del proyecto*/
.modal {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
